h1 {
  text-align: center;
}
main {
  width: auto;
  height: auto;
}
#pictureDiary {
  display: inline-block;
}
#imageBox {
  width: 640px;
  height: 480px;
}
#imageCanvas {
  border:#000000 solid 1px;
}
#option {
  float: right;
  margin-left: 50px;
}
#sentenceBox {
  width: 640px;
  height: 480px;
  border:#000000 solid 1px;
}
#sentenceCanvasWork {
}
#text {
  writing-mode: tb-rl;
  font-size: 30px;
  font-family: cursive;
}
#pictureCanvasOption {
  display: inline-block;

}
#pictureCanvasOption ul {
  list-style: none;
  padding-left: 20px;
}

.clear {
  clear: both;
}