<link rel="stylesheet" href="css/canvas.css" type="text/css" media="all">
<script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/draw.js"></script>
<main>
<% @hash.each do |id,url| %>
    <img src=<%= url %>>
    <a href="/download/<%= id %>">file download</a>
<% end %>
</main>