<%#coding: UTF-8 %>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>scribble　canvas</title>
        <link rel="stylesheet" href="css/canvas.css" type="text/css" media="all">
        <script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/js/draw.js"></script>
    </head>
    <body>
    <h1>一覧表示</h1>
    <nav>
        <ul>
            <li><a href="/">絵日記作成</a></li>
            <li><a href="/list">一覧表示</a></li>
        </ul>
    </nav>
    <main>
        <% @hash.each do |id,url| %>
          <img src=<%= url %>>
          <a href="/download/<%= id %>">file download</a>
        <% end %>
    </main>
</body>
</html>