<link rel="stylesheet" href="css/canvas.css" type="text/css" media="all">
<script type="text/javascript" src="/js/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/draw.js"></script>
<main>
<% @hash.each do |id,url| %>
    <div class="collection">
        <p class="center"><img src=<%= url %>></p>
        <div class="center">
        <!--<p class="downloasimage"><a href="/download/<%= id %>">download</a></p>-->
            <input id="downloadDiary" class="center" type="button" value="download" onclick="downloadDiary(<%= id %>);">
            <input id="deleteDiary" class="center" type="button" value="delete" onclick="deleteDiary(<%= id %>);">
        </div>
    </div>
<% end %>
</main>